/* Imports*/ 

@import url('https://fonts.googleapis.com/css2?family=Labrada:ital,wght@1,200&display=swap');

*{ font-family: 'Labrada', serif; 
   margin: 0;
   padding: 0;
   box-sizing: border-box;

}

/* llamados a clases por background colour */ 

body{
   background-color:  rgb(237, 248, 145); ;
}



/* Estilados del header*/ 

.HeaderPrincipal{
   background-color: rgb(237, 248, 145);
}

.iconceci{
   display: flex;
   justify-content: flex-start;
   align-items: flex-start;
   background-color: rgba(52, 50, 50, 0.44);
   z-index: 10;
   height: 70px;
   width: 70px;;
}

/* Estilos de la Navegacion*/ 

.fixedNav {
   width: 100%; 
   position: fixed;
   top: 0px;
   display: flex;
   justify-content: flex-end;

}

.LinkNav {
   margin-left: 1%;
   text-decoration: none;
   color: green;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   
}



/* Estilados del Body*/

.MainCeciPhoto {
   width: 200px;
   height: 200px;
}

.BodyColor {
   background-color: rgb(237, 248, 145);
}

.DivTry {
height: 100vh;
width: 50vh;
   background-color: aqua;
   margin: 20px 20px 20px 20px;
}


.CecisImages {

   height: 500px;
   width: 500px;
   border-style: solid;
   border-width: 7px;
}

.GaleriaBody {
   background-color: rgb(177, 125, 56);
}

boxContact {

   margin-left: 50px;
   margin-right: 50px;
}

.divFlex{
   height: 40vh;
   width: 95%;
   margin: 1vh;
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
   align-items: flex-start;
   justify-content: space-between;

}

.comentario {

   background-color: blueviolet;
   border-style: solid;
   border-width: 5px;
}

.fondoSection {
   background-color:rgb(237, 248, 145);
   margin: 10px;
}
/*Estilados del Footer*/

.footercolor {
   background-color:rgb(237, 248, 145); 
}

/* estilos de texto*/

.TextoDerecha {
   text-align: right;
}

.TextoCentrado {
   text-align: center;
}


 /* Estilos de tabla */
.tabla {
   border-style: solid;
   border-width: 5px;
}

.sectionFlex{
   height: 40vh;
   width: 80%;
   display: flex;
   align-items: center;
   justify-content: center;
   align-content: space-evenly;
}

.align_left{
   display: flex;
   align-items: flex-start;
}